#!/usr/bin/env bash
set -euo pipefail

timestamp="$(date +%Y%m%d%H%M%S)"
backup_file="{{ backup_local_dir }}/{{ backup_file_prefix }}-${timestamp}.{{ backup_file_extension }}"

{{ pg_dump_bin }} \
  --host "{{ db_host }}" \
  --username "{{ db_user }}" \
  --dbname "{{ db_name }}" \
  --file "${backup_file}"

{{ aws_cli_bin }} s3 cp "${backup_file}" "s3://{{ backup_bucket_name }}/{{ backup_s3_prefix }}/"
